body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 150px;
}

.resume{
    display:flex;
    background-color: white;
    width: 60%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgb(0,0,0,0.1);
}

.left-side {
    background-color: rgba(184, 82, 114, 0.89);
    color: rgba(255, 255, 255, 0.877);
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px rgb(172, 95, 149);
}
.profile-picture{
    width: 185px;
    height: 200px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px rgb(189, 109, 183);
    margin-bottom:20px;
}

h1 {
    font-size: 35px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 25px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(0, 0, 0);
    border-radius:10px;
    box-shadow: 0 0 15px  rgba(184, 82, 114, 0.89);
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10 ;
    margin:  10px 0;
}

ul li {
    margin: 5px 0;
}


.right-side {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, sans-serif;
    border-radius:  10px;
    box-shadow: 0 0 15px rgb(184, 98, 141);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover{
    background-color: rgba(216, 133, 157, 0.89);
}
